
body {
  padding-top: 30px;
}

ul, hr {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #96B9D6;
}

/* specific overrides */
#header {
  background-color: lightcoral;
  border-bottom-color: #F5A6A6;
  border-bottom-width: 5px;
}

#send {
  background-color: lightcoral;
  border-bottom-color: #F5A6A6;
  border-bottom-width: 5px;
}

#send:hover {
  cursor: pointer;
}

#name {
  font-size: 20px;
  font-weight: bold;
  border-radius: 0;
  margin-top: 1px;
}

#desc {
  font-size: 12px;
  border-radius: 0;
  margin-top: -1px;
}

#badge {
  color: #ffffff;
  min-height: 23px;
  background-color: lightcoral;
  border-bottom-color: #F5A6A6;
  border-bottom-width: 3px;
}

#icon-header {
  font-size: 25px;
  top: 5px;
  color: #ffffff;
}

#icon-send {
  font-size: 30px;
  top: 5px;
  color: #ffffff;
}


/* bootstrap overrides */
.form-control:focus { /* override box shadow to red */
  border-color: #e9735d;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 128, 128, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(240, 128, 128, .6);
}


.list-group-item:first-child {
  margin-top: 15px;
}

.list-group-item {
  margin-top: 5px;
  cursor: move;
}



/* app classes */
.td-icon {
  color: #999999;
}


.td-name {
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 0;
}

.td-align-bottom {
  top: 10px;
  position: absolute;

}

.td-done {
  text-decoration: line-through;
}


/*
Drag 'n' drop
*/
/*.ng-repeat-reorder-parent, [ng-repeat-reorder]{*/
  /*z-index: 10;*/
  /*position: relative;*/
/*}*/
/*[ng-repeat-reorder].dragging{*/
  /*z-index: 11;*/
  /*position: absolute;*/
  /*background-color: rgba(150, 75, 61, 0.31);*/
/*}*/
/*.form-group.dragging input {*/
  /*border: 1px solid #cccccc;*/
/*}*/
/*.form-group.dragging-after input {*/
  /*background-color: #9a9a9a;*/
  /*border-top: 1px solid #cccccc;*/
/*}*/
/*.form-group.dragging-before input {*/
  /*background-color: #9a9a9a;*/
/*}*/

/*.active-drag-below {*/
  /*-moz-user-select: none;*/
  /*-khtml-user-select: none;*/
  /*-webkit-user-select: none;*/
  /*user-select: none;*/
/*}*/

/*.glyphicon-play {*/
  /*top: 10px;*/
  /*-webkit-transform: rotate(90deg);*/
  /*-moz-transform: rotate(90deg);*/
  /*z-index: 2000;*/
/*}*/

/*.glyphicon-play .open{*/
  /*top: 0px;*/
/*}*/
